.quantity{
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}
.chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: 1s;
}