{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="text-center">Profile</h2>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="card mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src={{ user.profile.profile_picture.url }} class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                            <div class="text-secondary">
                                <h5>@{{ user.username }}</h5>
                            </div>
                            <div>
                                <text class="font-weight-bold">Email: </text>
                                <text class="font-weight-normal text-lowercase">{{ user.email }}</text>
                            </div>
                            <div>
                                <text class="font-weight-bold">Address: </text>
                                <text class="font-weight-normal text-uppercase">{{ user.profile.address }}</text>
                            </div>
                            <div>
                                <text class="font-weight-bold">Contact No: </text>
                                <text class="font-weight-normal text-lowercase">{{ user.profile.contact_no }}</text>
                            </div>
                            <div class="text-right">
                            <a class="btn btn-light mt-1 mb-1" href="{% url 'update' %}" role="button">Update</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products.all %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top img-responsive" src={{ product.image.url }} height="200px" width="200px"/>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'product-detail' product.id %}">{{ product.name }}</a></h5>
                        <div class="price-wrap h5">
                            <span class="price-new">${{ product.price }} </span>
                        </div>
                        <div class="text-italic">
                            <p class="card-text">Added By: {{ product.owner }}</p>
                        </div>
                    </div>
                    <div class="text-right">
                        <small class="text-muted">{{ product.date_posted.date }}  </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}