{% extends 'base.html' %}
{% block content %}
<h1>Signup!</h1>
{% if error %}
{{ error }}
<br/>
<br/>
{% endif %}
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    First Name:
    <br/>
    <input type="text" name="firstname"/>
    <br/>
    Last name:
    <br/>
    <input type="text" name="lastname"/>
    <br/>
    Email Address:
    <br/>
    <input type="text" name="email"/>
    <br/>
    Username:
    <br/>
    <input type="text" name="username"/>
    <br/>
    Password:
    <br/>
    <input type="password" name="password1"/>
    <br/>
    Confirm Password:
    <br/>
    <input type="password" name="password2"/>
    <br/>
    Address:
    <br/>
    <input type="text" name="address"/>
    <br/>
    Contact No:
    <br/>
    <input type="text" name="contact_no"/>
    <br/>
    <br/>
    <input class="btn btn-primary" type="submit" value="Signup"/>
</form>

{% endblock %}