{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-12">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="col-sm-8 col-md-8">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src={{ item.product.image.url }} style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{% url 'product-detail' item.product.id %}">{{ item.product.name }}</a></h4>
                                <h6 class="media-heading"> by {{ item.product.owner }}</h6>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-2" style="text-align: center">
                        <p class="quantity">{{ item.quantity }}</p>
                        <div class="quantity">
                            <img class="chg-quantity" src="{% static 'arrowup.png' %}">
                            <img class="chg-quantity" src="{% static 'arrowdown.png' %}">
                        </div>
                        </td>
                        <td class="col-sm-1 col-md-2 text-center"><strong>{{ item.product.price }}</strong></td>
                        <td class="col-sm-1 col-md-2 text-center"><strong>$14.61</strong></td>
                        <td class="col-sm-1 col-md-2">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    {% endfor %}
                    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>$6.94</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$31.53</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}